*{
    background-color: rgb(168, 168, 214);
    color: rgb(138, 24, 153);
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    text-transform: lowercase;
}
